@page "/"
@rendermode InteractiveServer

@using JokeUI.Models
@using Shared.DTO
@using System.Collections.ObjectModel


@inject JokeUI.Services.JokeService JokeService
@inject ILogger<Home> Logger


<div class="container">
    <h1 class="section-heading">Welcome to the Joke Manager</h1>

    <input id="newJoke" @bind="newJokeContent" placeholder="Enter your joke here..." class="input-field" />
    <input id="newJoke" @bind="newJokeCategory" placeholder="Ente
    r category here..." class="input-field" />


    <button class="button" @onclick="AddJoke">Add Joke</button>
    <button class="button" @onclick="GetRandomJoke">Get Random Joke</button>

    <h2>Random Joke</h2>
    @{
        if (randomJoke != null)
        {
            <p>@randomJoke.Content</p>
            <p>@randomJoke.Category</p>
        }
    }


    <div class="preview">
        <h2 class="section-heading">Preview</h2>
        <p>@newJokeContent</p>
    </div>

    <div class="joke-list">
        <h2 class="section-heading">Jokes</h2>
        @if (jokeList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul class="joke-list">
                @foreach (var joke in jokeList)
                {
                    <li class="joke-item">@joke.Content - @joke.Category - @joke.Id</li>
                }
            </ul>
        }
    </div>
</div>

@code {
    private int currentCount = 0;
    private string newJokeContent = string.Empty;
    private string newJokeCategory = string.Empty;

    private int jokeId;
    private Joke randomJoke;
    private readonly List<Joke> jokeList = new List<Joke>();



    protected override async Task OnInitializedAsync()
    {
        List<Joke> fetchedJokes = (await JokeService.GetAllJokes()).ToList(); // Corrected conversion

        foreach (var joke in fetchedJokes)
        {
            if (joke.UserId == 1)
            {
                jokeList.Add(joke);
            }
        }
    }


    private async Task AddJoke()
    {
        var newJoke = new JokeDTO { Content = newJokeContent, Category = newJokeCategory, UserId = 1 };
        Joke createdJokeFromAPI = await JokeService.AddJoke(newJoke);

        jokeList.Add(createdJokeFromAPI);

        jokeId = createdJokeFromAPI.Id;
        newJokeContent = string.Empty;
        newJokeCategory = string.Empty;
    }

    private async Task GetRandomJoke()
    {
        randomJoke = await JokeService.GetRandomJoke();
        @* Logger.LogWarning($"Someone has clicked me! Received joke: {randomJoke.Content}"); *@
    }
}